.photoCard{
    margin: 5px;
    height: 30%;
    width: 100%;
    min-width: 140px;
}

.pageControls{
    padding-top: 18px;
    font-size: 18px;
    display: table;
    margin: 0 auto;
}

.titleCard{
    min-height: 106px;
}



